<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,course-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="admin/lib/html5shiv.js"></script>
<script type="text/javascript" src="admin/lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="admin/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="admin/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="admin/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="admin/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>课程管理</title>
</head>
<body shiro:hasRole="admin">

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> <a th:href="admin-index-show">首页 </a> <span class="c-gray en">&gt;</span> 课程管理 <a id="btn-refresh" class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">

	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"> </span> <span class="r">共有数据：<strong th:text="${courseVos.size()}"></strong> 条</span> </div>
	<div class="mt-20">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="50">ID</th>
				<th width="100">课程名</th>
				<th width="90">老师名</th>
				<th  width="100">创建时间</th>
				<th  width="100">简要描述</th>
				<th  width="100">logo</th>
				<th  width="100">学习人数</th>
				<th width="70">状态</th>
				<th width="90">操作</th>
			</tr>
		</thead>
		<tbody>
			<tr class="text-c" th:each="cv,interStart:${courseVos}">
				<td><input type="checkbox" value="{}" name=""></td>
				<td th:text="${interStart.index+1}">1</td>
				<td><u th:data-thing0="${cv.cId}"  onclick="material_show('资料列表','admin-material-list.html',this.getAttribute('data-thing0'),'',10001)" th:text="${cv.cName}">课程名</u></td>
				<td th:text="${cv.tName}">1</td>
				<td th:text="${commons.fmtdate(cv.ctime)}">1</td>
				<td th:text="${cv.detail}">1</td>
				<td><img width="210" class="picture-thumb" th:src="${cv.cLogourl}"></td>
				<td ><u th:text="${cv.chance}" th:data-thing10="${cv.cId}" onclick="material_show('学生列表','course-user-list.html',this.getAttribute('data-thing10'),'',10001)" ></u></td>
				<td class="td-status" th:if="${cv.state eq 0}"><span class="label label-default radius">不可用</span></td>
				<td class="td-status" th:if="${cv.state eq 1}"><span class="label label-primary radius">可用</span></td>
			<td class="td-manage">
				<a  th:if="${cv.state eq 1}" style="text-decoration:none" th:data-thing1="${cv.cId}" onclick="member_NoExamination(this,this.getAttribute('data-thing1'))" href="javascript:;" title="设置不可用"><i class="Hui-iconfont">&#xe653;</i></a>
				<a th:if="${cv.state eq 0}"  style="text-decoration:none" th:data-thing2="${cv.cId}" onclick="member_start(this,this.getAttribute('data-thing2'))" href="javascript:;" title="设置可用"><i class="Hui-iconfont">&#xe6e1;</i></a>
				<a style="text-decoration:none" class="ml-5 " th:data-thing3="${cv.cId}" onclick="member_edit('编辑','admin-course-update.html',this.getAttribute('data-thing3'),'',510)" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>
				    <a style="text-decoration:none" class="ml-5" th:data-thing4="${cv.cId}" onclick="member_del(this,this.getAttribute('data-thing4'))" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
            </tr>
		</tbody>
	</table>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="admin/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="admin/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="admin/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$(function(){

	$('.table-sort').dataTable({
        "aaSorting": [
            [
                1, "desc"
            ]
        ],//默认第几个排序
		"bStateSave": true,//状态保存
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  {"orderable":false,"aTargets":[0,6]}// 制定列不参与排序
		]
	});
});
/*课程-添加*/
function member_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*商家-查看*/
function member_show(title,url,id,w,h){
	layer_show(title,url+"?id="+id,w,h);
}
/*密码-修改*/
function change_password(title,url,id,w,h){

    layer_show(title,url+"?Id="+id,w,h);
}
/*活动-重审*/
function member_examination(obj,id){
    layer.confirm('确认要重新审核该商家吗？',function(index){
        $.ajax({
            type: 'POST',
            url: 'admin-examine-provider?id='+id,
            success: function(data){
                layer.msg('已重置!',{icon: 5,time:1000});
                setTimeout(function(){
                    window.location.reload();
                }, 1000);

            },
            error:function(data) {
                console.log(data.msg);
            },
        });
    });
}
/*活动-审核未通过*/
function member_NoExamination(obj,id){
    layer.confirm('确认要失效？',function(index){
        $.ajax({
            type: 'POST',
            url: 'admin-stop-course?cId='+id,
            success: function(data){
                layer.msg('已设置!',{icon: 2,time:1000});
                setTimeout(function(){
                    window.location.reload();
                }, 1000);

            },
            error:function(data) {
                console.log(data.msg);
            },
        });
    });
}

/*商家-通过*/
function member_start(obj,id){
    layer.confirm('确认启用？',function(index){
        $.ajax({
            type: 'POST',
            url: 'admin-start-course?cId='+id,
            success: function(data){
                layer.msg('已通过!',{icon: 1,time:1000});
                setTimeout(function(){
                    window.location.reload();
                }, 1000);

            },
            error:function(data) {
                console.log(data.msg);
            },
        });
    });
}
/*课程-编辑*/
function member_edit(title,url,id,w,h){
	layer_show(title,url+"?cId="+id,w,h);
}
/*资讯-显示*/
function material_show(title,url,id,w,h){
    var index = layer.open({
        type: 2,
        title: title,
        content: url+'?cId='+id
    });
    layer.full(index);
}
/*课程-删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: 'admin-course-del?cId='+id,
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}
</script> 
</body>
</html>