<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>远程教育考试平台_在线考试</title>
<link href="course-answer/main.css" rel="stylesheet" type="text/css" />
<link href="course-answer/iconfont.css" rel="stylesheet" type="text/css" />
<link href="course-answer/test.css" rel="stylesheet" type="text/css" />

<style>
.hasBeenAnswer {
	background: #5d9cec;
	color:#fff;
}

</style>
</head>

<body>
	<div class="main">
		<!--nr start-->
		<div class="test_main">
			<div class="nr_left">
				<div class="test">
					<form action="" method="post">
						<div class="test_title">
							<p class="test_time">
								<i class="icon iconfont">&#xe6fb;</i><b class="alt-1">01:40</b>
							</p>
							<font><input type="button" name="test_jiaojuan" value="交卷"></font>
						</div>
						
							<div class="test_content">
								<div class="test_content_title">
									<h2>单选题</h2>
									<p>
										<span>共</span><i class="content_lit" th:text="${subjectList.size()}"></i><span>题，</span><span>合计</span><i class="content_fs" th:text="${subjectList.size()}"></i><span>分</span>
									</p>
								</div>
							</div>
							<div class="test_content_nr">
								<ul th:each="sub, interStat : ${subjectList}">
									
										<li th:id="${interStat.index}" >
											<div class="test_content_nr_tt">
												<i>1</i><span>(1分)</span><font th:text="${sub.subText}" >在生产管理信息系统中，下列操作步骤能正确将工单推进流程的是（  ）</font><b class="icon iconfont">&#xe881;</b>
											</div>

											<div class="test_content_nr_main">
												<ul>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" th:name="'answer'+${interStat.index}"
																	th:id="${sub.subId}+'A'"
																/>
															
															
															<label th:for="${sub.subId}+'A'">
																A.
																<p class="ue" style="display: inline;" th:text="${sub.optionA}">在工具栏中点击“workflow”标签</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" th:name="'answer'+${interStat.index}"
																	   th:id="${sub.subId}+'B'"
																/>
															
															
															<label th:for="${sub.subId}+'B'">
																B.
																<p class="ue" style="display: inline;" th:text="${sub.optionB}">在缺陷单界面中点击“推进流程”按钮</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" th:name="'answer'+${interStat.index}"
																	   th:id="${sub.subId}+'C'"
																/>
															
															
															<label th:for="${sub.subId}+'C'">
																C.
																<p class="ue" style="display: inline;" th:text="${sub.optionC}">在缺陷单界面中点击“提交”按钮</p>
															</label>
														</li>
													
														<li class="option">
															
																<input type="radio" class="radioOrCheck" th:name="'answer'+${interStat.index}"
																	   th:id="${sub.subId}+'D'"
																/>
															
															
															<label th:for="${sub.subId}+'D'">
																D.
																<p class="ue" style="display: inline;" th:text="${sub.optionC}">后台启动流程推进</p>
															</label>
														</li>
													
												</ul>
											</div>
										</li>
									
									
									
								</ul>
							</div>
						
						
						
					</form>
				</div>

			</div>
			<div class="nr_right">
				<div class="nr_rt_main">
					<div class="rt_nr1">
						<div class="rt_nr1_title">
							<h1>
								<i class="icon iconfont">&#xe692;</i>答题卡
							</h1>
							<p class="test_time">
								<i class="icon iconfont">&#xe6fb;</i><b class="alt-1">01:40</b>
							</p>
						</div>
						
							<div class="rt_content">
								<div class="rt_content_tt">
									<h2>单选题</h2>
									<p>
										<span>共</span><i class="content_lit">60</i><span>题</span>
									</p>
								</div>
								<div class="rt_content_nr answerSheet">
									<ul th:each="sub, interStat : ${subjectList}">
										
											<li><a th:href="'#'+${interStat.index}">1</a></li>
									</ul>
								</div>
							</div>
						
						
						
					</div>

				</div>
			</div>
		</div>
		<!--nr end-->
		<div class="foot"></div>
	</div>

	<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
	<script src="course-answer/jquery.easy-pie-chart.js"></script>
	<!--时间js-->
	<script src="course-answer/time/jquery.countdown.js"></script>
	<script>
		window.jQuery(function($) {
			"use strict";
			
			$('time').countDown({
				with_separators : false
			});
			$('.alt-1').countDown({
				css_class : 'countdown-alt-1'
			});
			$('.alt-2').countDown({
				css_class : 'countdown-alt-2'
			});
			
		});
		
		
		$(function() {
			$('li.option label').click(function() {
			debugger;
				var examId = $(this).closest('.test_content_nr_main').closest('li').attr('id'); // 得到题目ID
				var cardLi = $('a[href=#' + examId + ']'); // 根据题目ID找到对应答题卡
				// 设置已答题
				if(!cardLi.hasClass('hasBeenAnswer')){
					cardLi.addClass('hasBeenAnswer');
				}
				
			});
		});
	</script>


</body>

</html>