<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>模仿视频播放器</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" type="text/css" href="course-video_files/video.css">
<script src="course-video_files/jquery-3.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script type="text/javascript" src="course-video_files/sjhref.js"></script>

<style type="text/css">
.outsitepanel {display: none !important; }
</style>

</head>
<body>
    <script type="text/javascript">
            $(function() {
                var iframe = $("div.video_bofang iframe"); //播放页面
                $('ul.video_show_con li a').click(function() {
                    iframe.attr("src", $(this).attr("name")); //更改iframe src
                    $('ul.video_show_con li a').removeClass('on');
                    $(this).addClass('on'); //给点击的元素添加正在播放标识
                });
            }); 
            /*title切换*/
            function showTitle(title) {
                var TitleType = title.getAttribute("data-title");
                document.getElementById("video_con_title").innerHTML = TitleType;
            }
            /*向上滚动*/
            function AutoScroll(obj) {
                                $(obj).find("ul:first").animate({
                                    marginTop: "-40px"
                                },
                                800,
                                function() {
                                    $(this).css({
                                        marginTop: "0px"
                                    }).find("li:first").appendTo(this);
                                });
                            }
                            $(document).ready(function() {
                                setInterval('AutoScroll("#scroll")', 2500)
            });

            </script>

    <section class="public_width">
    <dl class="video_con">
                <figure class="video_con_show tab">
                    <div class="video_bofang tab-box">
                        <dt class="video_con_title"><b style="font-size: 30px;">视频标题：</b><span id="video_con_title" th:text="${material.mName}"></span></dt>

                       <iframe id="iframe_video" th:src="${material.url}"  width="900" height="512" frameborder="0">
                        </iframe>
                        <div class="video_bofang_mtbd">
                           <div id="scroll" class="scroll clearfix">
                              <ul class="mingdan" id="holder" style="margin-top: -12.2014px;">
                                
                                
                                
                              <li>热门：<script type="text/javascript">document.writeln(str1)</script><a href="https://blog.retechs.cn/">随机链接</a>
</li>
                                  <li>热门：<script type="text/javascript">document.writeln(str1)</script><a th:href="'course-down?mId='+${material.mId}">下载</a>
</li>

                                  <li>热门：<script type="text/javascript">document.writeln(str1)</script><a th:href="'course-down?mId='+${material.mId}">下载</a>
                                  </li>
                              </ul>
                            </div>
                    </div>
                </div>  
                    <figcaption class="video_show_zs">
                        <div class="video_show_zj">
                            <img class="video_show_zj_img" src="course-video_files/name.jpg">
                            <p class="video_show_zj_js">
                                <b class="video_show_zj_name">标题</b>
                                <span class="video_show_zj_zc">描述</span>
                            </p>
                        </div>
                        <span class="video_show_title">播放列表</span>
                        <ul class="video_show_con tab-menu">
                             <li class="video_show_list">
                                <a name="video1/video/name.mp4" data-title="你的名字" onclick="showTitle(this)"><img src="course-video_files/name.jpg"><span>你的名字<br><em><img src="course-video_files/bof.png">1.5万</em></span></a>
                            </li>
                            <li class="video_show_list">
                                <a name="video1/video/name.mp4" data-title="你的名字" onclick="showTitle(this)"><img src="course-video_files/name.jpg"><span>你的名字<br><em><img src="course-video_files/bof.png">1.8万</em></span></a>
                            </li>
                            <li class="video_show_list">
                                <a name="video1/video/name.mp4" data-title="你的名字" onclick="showTitle(this)"><img src="course-video_files/name.jpg"><span>你的名字<br><em><img src="course-video_files/bof.png">2.1万</em></span></a>
                            </li>
                            <li class="video_show_list">
                                <a name="video1/video/txjg.mp4" data-title="天行九歌" onclick="showTitle(this)"><img src="course-video_files/txjg.jpg"><span>天行九歌<br><em><img src="course-video_files/bof.png">2.0万</em></span></a>
                            </li>
                            <li class="video_show_list">
                                <a name="video1/video/txjg.mp4" data-title="天行九歌" onclick="showTitle(this)"><img src="course-video_files/txjg.jpg"><span>天行九歌<br><em><img src="course-video_files/bof.png">2.0万</em></span></a>
                            </li>
                            <li class="video_show_list">
                                <a name="video1/video/txjg.mp4" data-title="天行九歌" onclick="showTitle(this)"><img src="course-video_files/txjg.jpg"><span>天行九歌<br><em><img src="course-video_files/bof.png">2.0万</em></span></a>
                            </li>
                            <li class="video_show_list">
                                <a name="video1/video/txjg.mp4" data-title="天行九歌" onclick="showTitle(this)"><img src="course-video_files/txjg.jpg"><span>天行九歌<br><em><img src="course-video_files/bof.png">2.0万</em></span></a>
                            </li>
                        </ul>
                    </figcaption>
                </figure>
            </dl>
    </section>

</body></html>