<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title th:text="${course.cName}">
    </title>









<link rel="stylesheet" href="course_files/moco.css" type="text/css">
    <link rel="stylesheet" href="course_files/swiper-3.css">








<link href="course_files/captcha.css" rel="stylesheet">
<script>
/*学习页通用配置*/
var GC = {
  course: {
    id: 1084,
    name: 'Taro多端框架开发外卖首页',
    pic: '',
    video_url: ''
  },
  classmates: 20 // 你的同学一页显示数量
};


</script>
<script>

var hasLearn;
    hasLearn = 0;

</script>




<link rel="stylesheet" href="course_files/share_style0_16.css">
<link charset="utf-8" rel="stylesheet" href="course_files/layer.css">
<link rel="stylesheet" href="course_files/a.css" type="text/css">
</head>

<body>






<div id="main">

<div class="course-infos">
    <div class="w pr">
        <div class="path">  
            <a href="course-list.html">课程列表</a>
                        <i class="path-split">\</i>
                                    <a href="#" th:text="${course.cName}"></a>

        </div>
        <div class="hd clearfix">
            <h2 class="l" th:text="${course.cName}"></h2><br>

    </div>

        <div class="statics clearfix">
                        <div class="teacher-info l">
            <a href="#" target="_blank">
                <img data-userid="7376453" class="js-usercard-dialog" th:src="${user.headimg}" width="80" height="80">
            </a>
            <span class="tit">
                <a href="#" target="_blank" th:text="${user.uName}"></a><i class="icon-imooc"></i>
            </span>
            <span class="job">老师</span>
                        <div class="teacher-course">
                <div class="teacher-course-arrow"><span></span></div>
                <div class="teacher-course-title">
                    <a th:href="'teacher-showCourse-list.html?tId='+${tId}" class="r">查看讲师更多课程 </a><br>
                    <a th:href="'user-chat.html?tId='+${tId}" class="r">和老师聊天对话 </a>
                    <span th:text="${user.uName}"></span>讲师的其他课程
                </div>
                <div class="teacher-course-list recom-course-list-box">
                    <ul class="recom-course-list clearfix">
                                                <li class="clearfix">
                                                        <a href="#" class="clearfix" target="_blank">
                                <div class="l course-img" th:style="'background-image: url('+${course.cLogourl}+');'"></div>

                            <div class="l content-box">
                                <p class="smalle-title" th:text="${course.cName}"></p>

                            </div>
                            </a>
                        </li>
                                           </ul>
                </div>
            </div>
                    </div>
                
            <div class="static-item l">
                <span class="meta">难度</span><span class="meta-value">中级</span>
            </div>
            <div class="static-item l">
                <span class="meta">时长</span><span class="meta-value"> 4小时11分</span>
            </div>
            <div class="static-item l">
                <span class="meta" >学习人数</span><span class="meta-value js-learn-num" th:text="${course.chance}">4849</span>
            </div>
            <div class="static-item l score-btn">
                <span class="meta">综合评分</span><span class="meta-value">9.3</span>
                

                <div class="score-wrap triangle">
                    <div class="score-box">
                        <a href="#" class="person-num">
                            <span class="person-num l">8人评价</span>
                        </a>
                                                    <a href="#" class="evaluation-btn r">查看评价</a>
                                                <div class="score-detail-box">
                            <div class="score-static-item">
                                <span class="meta-value">10.0</span>
                                <span class="meta">内容实用</span>
                            </div>
                            <div class="score-static-item">
                                <span class="meta-value">9.8</span>
                                <span class="meta">简洁易懂</span>
                            </div>
                            <div class="score-static-item">
                                <span class="meta-value">8.2</span>
                                <span class="meta">逻辑清晰</span>
                            </div>
                        </div>
                        <div class="icon-drop_down"></div>
                    </div>

                </div>
                
            </div>
            <div class="static-item l">
                <u id="existId" onclick="changeLike()" th:value="${exist}" th:text="${exist}" style="font-size:3;color: #ffe4c4"></u>

            </div>
        </div>
   

 

    </div>
    <div class="info-bg" id="js-info-bg">
        <div class="cover-img-wrap">
        <img data-src="//img.mukewang.com/5c0a367a0001cd1406000338.jpg" alt="" style="display: none" id="js-cover-img">
        </div>
        <div class="cover-mask"></div>
    <canvas width="1349" height="200" class="cover-canvas" id="js-cover-canvas"></canvas></div>
</div>
<div class="course-info-menu ">
	<div class="w">
		<ul class="course-menu">
			<li><a class="moco-change-big-btn active" id="learnOn" href="#">课程章节</a></li>
			<li><span>8</span><a id="commentOn" class="moco-change-big-btn " th:href="'course-evaluate.html?cId='+${course.cId}">用户评价</a></li>

		</ul>
	</div>


	
</div><!-- 课程面板 -->

<div class="course-info-main clearfix w">

    <div class="content-wrap clearfix">
        <div class="content">
                        <!-- 课程简介 -->
            <div class="course-description course-wrap" th:text="${course.detail}">

            </div>
            <!-- 课程简介 end -->
    
            <!-- 课程章节 -->
            <div class="course-chapters">
                                        <div class="chapter course-wrap ">
                    <!-- 章节标题 -->
                    <h3>
                       详细资料及视频
                    </h3>

                    <!-- 章节标题 end -->
                    <!-- 章节小节 -->
                                        <ul class="video">
                                                <li data-media-id="18406" th:each="material, interStat : ${materialList}">
                                                            <a href="#" class="J-media-item"  >

                                                           <span th:text="${material.mName}" ></span>
                                                                <button class="r moco-btn moco-btn-red preview-btn"  th:data-id="${material.mId}" onclick="disp_prompt(this.getAttribute('data-id'))" href="javascript:;">进行评价</button>
                                                                        <button class="r moco-btn moco-btn-red preview-btn" th:if="${material.mType eq 'mp4'}" th:data-id="${material.mId}" onclick="course_video(this.getAttribute('data-id'))" href="javascript:;">开始学习</button>
                                                                <button class="r moco-btn moco-btn-red preview-btn"  th:data-id="${material.mId}" onclick="course_answer(this.getAttribute('data-id'))" href="javascript:;">进行测试</button>
                                                                <button class="r moco-btn moco-btn-red preview-btn"  th:data-id="${material.mId}" onclick="material_down(this.getAttribute('data-id'))" href="javascript:;">下载资料</button>
                                </a>
                                                    </li>
                                                <li data-media-id="18407">
                                                            <a href="#" class="J-media-item">

                </div>

                         
            <!-- 课程章节 end -->
        </div><!--content end-->

    </div>
    <div class="clear"></div>

</div>
<!-- 视频介绍 -->


</div>

<div id="footer" data="course,learn">
    <div class="waper">
        <div class="footerwaper clearfix">
            
            <div class="footer_intro l">
                <div class="footer_link">
                    <ul>
                        <li><a href="index.html" target="_blank">网站首页</a></li>
     
                        <li> <a href="contact.html" target="_blank">联系我们</a></li>
                  
                        <li> <a href="contact.html" target="_blank">意见反馈</a></li>
                  

                    </ul>
                </div>
                <p>Today,I consider myself the luckiest man on the face of the earth. </p>
            </div>
        </div>
    </div>
</div>


</div>
<script type="text/javascript" src="js/jquery/jquery-2.2.4.min.js"></script>
<script type="text/javascript" th:inline="javascript">
    function course_video(id) {
        window.location.href="course-video.html?id="+id;
    }
    function material_down(mId) {
        window.location.href="course-down?mId="+mId;
    }
    function  disp_prompt(id){
        var text=prompt("输入的内容","");
        var remark = prompt("评分", "");
        if (text!=null&&remark!=null){
            $.ajax({
                url:'user-material-evaluate',
                data:{"text":text,"remark":remark,"mId":id},
                type:"post",
                success:function (data) {
                    alert(data);
                }
            });
        }
    }
</script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var cId=[[${course.cId}]];
    function course_answer(mId) {
        window.location.href="course-answer.html?mId="+mId+"&cId="+cId;
    }
    /*]]>*/

</script>

<script type="text/javascript" >
        /*<![CDATA[*/
    function changeLike() {
        var cId=[[${course.cId}]];
        var exist = document.getElementById("existId").innerText;
        $.ajax({
            url: "user-courseLike",
            data:{"cId":cId,"exist":exist},
            success:function (data) {
                alert(data);
                 if (data=="重新登录"){
                     window.location.href="/logout";
                 }
                 else {
                    document.getElementById("existId").innerHTML = data;
                 }
            }

        });
    }
    /*]]>*/
</script>

</body>
</html>