<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <script>
        function openmydoc() {
            var path=null;
         $.ajax({
             url: 'openDoc',
             type: 'post',
             success: function (data) {
                 alert(data);
                 path=data;

             }
         });
            var doc = new ActiveXObject("Word.Application");
            doc.visible = true;
            doc.Documents.Open(path);
        }
    </script>
</head>

<body>

<a onclick="openmydoc();" type="activxobject(word.application)">
    点击我！！！打开word文档，而不是下载
</a>
</body>
</html>
