<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="Thymeleaf"

      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>

    <meta charset="UTF-8" />

    <title>Insert title here</title>

</head>

<body>

<h3>index</h3>

<!-- 验证当前用户是否为“访客”，即未认证（包含未记住）的用户。 -->

<p shiro:guest="">Please <a href="userLogin.html">login</a></p>





<!-- 认证通过或已记住的用户。 -->

<p shiro:user="">

    Welcome back John! Not John? Click <a href="userLogin.html">here</a> to login.

</p>



<!-- 已认证通过的用户。不包含已记住的用户，这是与user标签的区别所在。 -->

<p shiro:authenticated="true">

    Hello, <span> <shiro:principal property="uName" /></span>, how are you today?

</p>

<a shiro:authenticated="" href="updateAccount.html">Update your contact information</a>



<!-- 输出当前用户信息，通常为登录帐号信息。 -->

<p>Hello, <shiro:principal />, how are you today?</p>





<!-- 未认证通过用户，与authenticated标签相对应。与guest标签的区别是，该标签包含已记住用户。 -->

<p shiro:notAuthenticated="">

    Please <a href="userLogin.html">login</a> in order to update your credit card information.

</p>



<!--&lt;!&ndash; 验证当前用户是否属于该角色。 &ndash;&gt;-->

<!--<a shiro:hasRole="admin" href="admin.html">Administer the system</a>&lt;!&ndash; 拥有该角色 &ndash;&gt;-->



<!--&lt;!&ndash; 与hasRole标签逻辑相反，当用户不属于该角色时验证通过。 &ndash;&gt;-->

<!--<p shiro:lacksRole="developer">&lt;!&ndash; 没有该角色 &ndash;&gt;-->

    <!--Sorry, you are not allowed to developer the system.-->

<!--</p>-->



<!--&lt;!&ndash; 验证当前用户是否属于以下所有角色。 &ndash;&gt;-->

<!--<p shiro:hasAllRoles="developer, 2">&lt;!&ndash; 角色与判断 &ndash;&gt;-->

    <!--You are a developer and a admin.-->

<!--</p>-->



<!--&lt;!&ndash; 验证当前用户是否属于以下任意一个角色。 &ndash;&gt;-->

<!--<p shiro:hasAnyRoles="admin, vip, developer,1">&lt;!&ndash; 角色或判断 &ndash;&gt;-->

    <!--You are a admin, vip, or developer.-->

<!--</p>-->



<!--&lt;!&ndash;验证当前用户是否拥有指定权限。 &ndash;&gt;-->

<!--<a shiro:hasPermission="userInfo:add" href="createUser.html">添加用户</a>&lt;!&ndash; 拥有权限 &ndash;&gt;-->



<!--&lt;!&ndash; 与hasPermission标签逻辑相反，当前用户没有制定权限时，验证通过。 &ndash;&gt;-->

<!--<p shiro:lacksPermission="userInfo:del">&lt;!&ndash; 没有权限 &ndash;&gt;-->

    <!--Sorry, you are not allowed to delete user accounts.-->

<!--</p>-->



<!--&lt;!&ndash; 验证当前用户是否拥有以下所有角色。 &ndash;&gt;-->

<!--<p shiro:hasAllPermissions="userInfo:view, userInfo:add">&lt;!&ndash; 权限与判断 &ndash;&gt;-->

    <!--You can see or add users.-->

<!--</p>-->



<!--&lt;!&ndash; 验证当前用户是否拥有以下任意一个权限。 &ndash;&gt;-->

<!--<p shiro:hasAnyPermissions="userInfo:view, userInfo:del">&lt;!&ndash; 权限或判断 &ndash;&gt;-->

    <!--You can see or delete users.-->

<!--</p>-->

<!--<a shiro:hasPermission="pp" href="createUser.html">Create a new User</a>-->

</body>

</html>