<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
	<title>注册</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="注册界面"/>
	<link rel="Bookmark" href="/favicon.ico">
	<link rel="Shortcut Icon" href="/favicon.ico"/>
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<link href="//fonts.googleapis.com/css?family=Cuprum:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese"
	    rel="stylesheet">
	<!-- //web-fonts -->
</head>

<body>
	<h1>
		<span>REGISTER</span>
		<span>xxx</span>
		<span></span>
	</h1>
	<!-- content -->
	<div class="sub-main-w3"  >
		<form validate="true" th:action="userRegister" method="post" id="formId">
			<div class="form-group">
				<label for="accountId">账号(手机号)</label>
				<input type="text" class="form-control" name="account" id="accountId" placeholder="Enter account" onchange="ajaxRegister()" >
			</div>

			
			<div class="form-group">
				<label for="passwordId">密码</label>
				<input  type="password" name="password" class="form-control" id="passwordId" placeholder="Password" >
			</div>
			<div>
				<span id="error-message"></span>
			</div>
			<div class="form-group">
				<label for="passwordId2">确认密码</label>
				<input  type="password" name="password2" class="form-control" id="passwordId2" placeholder="Password" >
			</div>
			<div>
				<span id="error-message2"></span>
			</div>
			<div class="form-group">
				<label for="uNameId">姓名</label>
				<input type="text" class="form-control" name="uName" id="uNameId" placeholder="Enter account" >
			</div>

			<div class="form-group">
				<label >身份</label>
				<span>学生</span><input type="radio" class="form-control" name="type" id="typeId" value="0"  onclick="addNewSelect()" checked>
				<span>                老师</span><input type="radio" class="form-control" name="type" id="typeId2" value="1" onclick="addNewSelect()">
			</div>
			<div class="form-group">
				<label >性别</label>
				<span>男</span><input type="radio" class="form-control" name="sex" id="sex1" value="1"   checked>
				<span>                女</span><input type="radio" class="form-control" name="sex" id="sex2" value="0" >
			</div>
			<div class="form-group">
				<label for="schoolNameId">学校</label>
				<input type="text" class="form-control" name="schoolName" id="schoolNameId" placeholder="Enter schoolName" required>
			</div>
			<div class="form-group" id="gradeId">
				<label for="gradeId">年级</label>
				<input type="text" class="form-control" name="grade"  placeholder="Enter schoolName" required>
			</div>
			<div class="form-group">
				<label for="remarkId">邮箱</label>
				<input type="text" class="form-control" name="remark" id="remarkId" placeholder="Enter email" required>
			</div>
			<button type="submit" class="btn btn-primary "  >注册</button>
			<div>
			  <span>有账号?</span><a href="userLogin.html" style="font-size: 20px;color: #1e2025">去登录</a>
			</div>
		</form>
	</div>
	<!-- //content -->
	<!---728x90--->

	<!-- copyright -->
	<div class="footer">
		<p>&copy; 2018 了解信息 | 首页
			<!--<a href="#">kuding.com</a>-->
		</p>
	</div>
	<!-- //copyright -->
	<!---728x90--->


	<!-- Jquery -->
	<script type="text/javascript" src="js/jquery/jquery-2.2.4.min.js"></script>
	<!-- //Jquery -->
	<!-- Jquery -->
	<script type="text/javascript" src="admin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
	<script type="text/javascript" src="admin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
	<script type="text/javascript" src="admin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
	<!-- //Jquery -->
    <script type="text/javascript">
        var fys="error";
        function addNewSelect() {
            var selected = $('input:radio[name="type"]:checked').val();
            if (selected != 0) {
                document.getElementById("gradeId").style.display = "none";
            }
            else {
                document.getElementById("gradeId").style.display = "";
            }
        }

            function ajaxRegister() {
                var account = $("#accountId").val();
                var id = $("#idId").val();

                $.ajax({
                    url: "admin-user-accountAjaxRegister",
                    data: {"account": account, "id": id},
                    success: function (str) {
                        if ("true" == str) {
                            fys = "true";
                            //账号未存在

                        }
                        else {

                            //帐号已经被注册
                            alert(str);
                            fys = "error";
                        }
                    }
                });
            }


            $("#formId").validate({
                rules: {
                    account: {
                        required: true,
                        isMobile: true,
                    },
                    remark: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true,
                        minlength: 6,
                        maxlength: 16
                    },
                    password2: {
                        required: true,
                        minlength: 6,
                        maxlength: 16,
                        equalTo: "#passwordId"
                    },
                    schoolName: {
                        required: true,
                        minlength: 6,
                        maxlength: 16
                    },
                },
                onkeyup: false,
                focusCleanup: true,
                success: "valid",
                submitHandler: function (form) {
                    ajaxRegister();
                    alert("确认提交");
                    if (fys != "true") {
                        return
                    }
                    $.ajax({
                        url: "userRegister",
                        type: "post",
                        data: $('#formId').serialize(),
                        success: function (data) {
                            alert(data);
                            if (data == "success") {
                                alert("提交成功");
                                window.location.href = "userLogin.html";
                            }
                            else {
                                alert("提交出错，请重试");
                                location.reload();
                            }
                        }

                    });
                }
            });


	</script>

</body>

</html>