
<!DOCTYPE HTML>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
	<title>登录</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="登录界面"/>
	<link rel="Bookmark" href="/favicon.ico">
	<link rel="Shortcut Icon" href="/favicon.ico"/>
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<link href="//fonts.googleapis.com/css?family=Cuprum:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese"
	    rel="stylesheet">
	<!-- //web-fonts -->
</head>

<body>
	<h1>
		<span>Login</span>
		<span>xxx</span>
		<span></span>
	</h1>
	<!-- content -->
	<div class="sub-main-w3"  >
		<form validate="true" th:action="loginSure" method="post" id="form-article-add">
			<div class="form-group">
				<label for="accountId">账号</label>
				<input type="text" class="form-control" name="account" id="accountId" placeholder="Enter account" required>
			</div>

			
			<div class="form-group">
				<label for="passwordId">密码</label>
				<input  type="password" name="password" class="form-control" id="passwordId" placeholder="Password" required>
			</div>
			<div>
				<span id="error-message"></span>
			</div>
		
			<button type="button" class="btn btn-primary " onclick="login()">登录</button>
		</form>
	</div>
	<!-- //content -->
	<!---728x90--->

	<!-- copyright -->
	<div class="footer">
		<p>&copy; 2018 了解信息 | 首页
			<!--<a href="#">kuding.com</a>-->
		</p>
	</div>
	<!-- //copyright -->
	<!---728x90--->


	<!-- Jquery -->
	<script type="text/javascript" src="js/jquery/jquery-2.2.4.min.js" ></script>
	<!-- //Jquery -->
	<!-- Jquery -->


	<script type="text/javascript" src="js/Validform_v5.3.2_min.js"></script>
	<!-- //Jquery -->
    <script type="text/javascript">
		function login() {
		    var account = $("#accountId").val();
		    var password = $("#passwordId").val();
			$.ajax({
				url: "loginSure",
				type: "post",
                // dataType:"json",
				data: {account:account,password:password},
				success:function (data) {
					if (data=="success"){
					    window.location.href="Index.html";
					}
					else {
					   $("#error-message").text(data);
					}
                },
                error:function (data) {
                    console.log("error"+data);
                }
			});


        }
	</script>

</body>

</html>