<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzc.teachingInteraction.mapper.SubjectMapper">
  <resultMap id="BaseResultMap" type="com.lzc.teachingInteraction.entity.Subject">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="sub_id" jdbcType="VARCHAR" property="subId" />
    <result column="exam_id" jdbcType="VARCHAR" property="examId" />
    <result column="sub_text" jdbcType="VARCHAR" property="subText" />
    <result column="option_A" jdbcType="VARCHAR" property="optionA" />
    <result column="option_B" jdbcType="VARCHAR" property="optionB" />
    <result column="option_C" jdbcType="VARCHAR" property="optionC" />
    <result column="option_D" jdbcType="VARCHAR" property="optionD" />
    <result column="sub_sure" jdbcType="TINYINT" property="subSure" />
    <result column="cTime" jdbcType="INTEGER" property="ctime" />
    <result column="uTime" jdbcType="INTEGER" property="utime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    sub_id, exam_id, sub_text, option_A, option_B, option_C, option_D, sub_sure, cTime, 
    uTime, remark
  </sql>
  <select id="selectALLByEId" resultMap="BaseResultMap">
    select * from subject where exam_id=#{eId}
  </select>
</mapper>